body {
  background: #111;
  color: #fff;
  font-family: Arial;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
}

.header a {
  color: white;
  margin-right: 15px;
}

.card {
  width: 300px;
  margin: 100px auto;
  background: #222;
  padding: 20px;
  border-radius: 8px;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
